body 
{
  background-image: url("https://www.publicdomainpictures.net/pictures/710000/nahled/schachbrett-schach-kunst.jpg");
  background-size: cover;      
  background-attachment: fixed;
  background-position: center;
  padding: 50px;
  font-family: Times New Roman;
  font-size: 12px;
  display: flex;
  align-items: start;
  flex-wrap: wrap;
  justify-content: space-around;
}

div 
{
  margin: 50px;
  padding: 38px 50px;
  background-color: rgb(232,	195,	158);
  display: inline-block;
  border-radius: 5px;
  border-color: rgb(63,	34, 18);
  border-style: solid;
  border-width: 1px;
}

h1,h2,p
{
  margin: 12px 0;
  line-height: 24px;
}

h1,h2
{
  text-align: center;
  color: rgb(63,	34, 18);
}

h1
{
  font-size: 24px;
}
