body 
{
  background-image: url("https://get.pxhere.com/photo/chess-chessboard-games-indoor-games-and-sports-board-game-recreation-tabletop-game-still-life-still-life-photography-finial-photography-play-sports-equipment-1523889.jpg");
  background-size: cover;      
  background-attachment: fixed;
  background-position: center;
  padding: 0px;
  font-family: Times New Roman;
  font-size: 12px;
  display: block;
}

div 
{
  margin: 50px;
  padding: 38px 50px;
  background-color: rgb(224, 255, 255);
  display: inline-block;
  border-radius: 10px;
  border-color: rgb(255,	255, 255);
  border-style: solid;
  border-width: 2px;
}

h1,h2,p
{
  margin: 12px 0;
  line-height: 24px;
}

h1,h2
{
  text-align: center;
  color: rgb(65, 105, 225);
}

h1
{
  font-size: 24px;
}
