body {
  background-image: url("./fondo.jpeg");
  background-size: cover;         /* para que ocupe toda la pantalla */
  background-attachment: fixed;   /* para que no se mueva al hacer scroll */
  background-position: center;    /* centrada */
  color: #fff;                    /* opcional: texto blanco para contraste */
}
